<section class="cart_section">
  <div class="container">
    <h2>Cart</h2>
    <div *ngIf="getCartDetails">
      <table>
        <tr>
          <th>Product Name</th>
          <th>Image</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Sub Total</th>
          <th>Remove Item</th>
        </tr>
        <tr *ngFor="let getCartDetail
of getCartDetails">
          <td>{{getCartDetail.name_p}}</td>
          <td><img src=
                     "{{getCartDetail.image_path_p}}"
                   alt="P1" style="height: 120px"></td>
          <td>$
            {{getCartDetail.prise_p}}</td>
          <td style="text-align:center">
            <div class="content">
              <button type="button" class="btn" (click)="incQnt(getCartDetail.id_p,getCartDetail.qnt)">
                <i class="fa fa-plus"></i>
              </button>
              <br>
              <span>{{getCartDetail.qnt}}</span>

              <br>
              <button type="button" class="btn" (click)="decQnt(getCartDetail.id_p,getCartDetail.qnt)">
                <i class="fa fa-minus"></i>
              </button>
            </div>
          </td>
          <td>
            $ {{getCartDetail.qnt
          * getCartDetail.prise_p | number}}
          </td>
          <td><button type="button"
                      class="delete"
                      (click)="singleDelete
    (getCartDetail.id_p)">
            <i class="fa fa-trash"></i>
          </button></td>
        </tr>
      </table>
      <div class="row">
        <div class="col-md-6">
          <h3>Total - $ {{total}}

          </h3>
        </div>
        <div class="col-md-6
text-right">
          <button type="button"
                  class="removeall"
                  (click)="removeall()">
            <i class="fa fa-trash"></i>
            Remove All Item </button>
          <button type="button"
                  class="btn-confirm"
                  (click)="onCreate()">
            <i class="fa fa-trash"></i>
            Confirm Order </button>
        </div>
      </div>
    </div>
  </div>
</section>
